---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
import MainCard from "@/components/MainCard.astro";
import GitHubStats from "@/components/mdx/GitHubStats.astro";
---

<BaseLayout title="About"> <!-- This is the title of web tab -->
  <MainCard > <!-- Layout -->
    <h1 class="text-4xl font-bold mb-4">
      About Kevin ZOU
    </h1>

    <p class="text-base text-base-content/80 max-w-3xl mb-4">
      Email: ceyuanzou@connect.polyu.hk
    </p>

    <h1 class="text-2xl font-bold mb-4">
      Current
    </h1>
  
    <p class="text-base text-base-content/80 max-w-3xl mb-4">
      <span style="display:inline-block; margin-bottom: 8px;">
        Ph.D. Candidate in Geotechnical Engineering
      </span><br>

      <span style="display:inline-block; margin-bottom: 8px;">
        Department of Civil Engineering (CEE) & Research Centre for 
        Deep Space Explorations (RCDSE),
        Hong Kong Polytechnic University, Kong Hong, China
      </span><br>
      
      <span>
        Research Interests: Lunar Regolith (Soil), Soil Mechanics, 
        Experimental Investigations, Micro-CT Image Analysis
      </span>
    </p>

    <h1 class="text-2xl font-bold mb-4">
      Education Background
    </h1>

    <p class="text-base text-base-content/80 max-w-3xl mb-4">
      <span style="display:inline-block; margin-bottom: 8px;">
        Bachelor Degree in Civil Engineering, Beijing Jiaotong 
        University, Beijing, China <br />
      </span><br>
      <span>
        Master Degree in Geotechnical Engineering, Zhejiang University, Hangzhou, China
      </span>
    </p>

    <h1 class="text-2xl font-bold mb-4">
      Hobbies
    </h1>

    <p class="text-base text-base-content/80 max-w-3xl mb-4">
      <span style="display:inline-block; margin-bottom: 8px;">
        Table Tennis, Badminton, Basketball, and Running 
        <br>
      </span>
      <span style="display:inline-block; margin-bottom: 8px;">
        Writing, Calligraphy, Thinking, and TV Series on History
      </span>

    </p>
  </MainCard>
</BaseLayout>
